.user-setting-side-nav {
  // border: 1px solid green;
  width: 300px;
  background-color: #ffffff;
  border-radius: 4px;

  .side-nav-header {
    height: 80px;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-bottom: 3px solid #f4f6f8;

    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #000000;
      color: #ffffff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      .avatar-content {
        position: absolute;
        flex: 0 0 120px;
        font-size: 20px;
        font-family: "F37Judge-MediumCondensed";
      }
    }
    .user-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      // border: 1px solid red;

      .user-plan {
        font-family: "MediumLLWeb-Bold";
        width: 30%;
        background-color: #76a2fe;
        font-size: 8px;
        padding: 2px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 2px;
      }

      .user-name {
        font-family: "MediumLLWeb-Bold";
        font-size: 12px;
        margin-top: 2px;
      }
    }
  }

  .user-menus {
    // border: 1px solid green;
    padding: 30px;

    .user-menu {
      // border: 1px solid red;
      padding: 12px 18px;

      &.Mui-selected {
        background-color: #ffffff;
        font-weight: 600;
      }
    }

    .user-menu-plan {
      font-family: "MediumLLWeb-Bold";
      background-color: #000000;
      font-size: 8px;
      padding: 2px 6px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 2px;
      margin-left: 8px;
    }
  }
}
