@font-face {
  font-family: "MediumLLWeb-Bold";
  src: url("assets/fonts/MediumLLWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "MediumLLWeb-Regular";
  src: url("assets/fonts/MediumLLWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "F37Judge-MediumCondensed";
  src: url("assets/fonts/F37Judge-MediumCondensed.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "MediumLLWeb-Regular";
  font-size: 15px;
  background-color: #eceeef;
}
